@inherits InstanceTableRowBase

<tr class="border border-bottom-0 border-right-0 border-left-0">
    <td>@Instance.UniqueName</td>
    <td>@Instance.Id</td>
    <td>
        <a href="@Instance.Url" target="_blank">@Instance.Url</a>
    </td>
    <td>@Instance.Version</td>



</tr>