@inherits InstanceTableRowBase

<tr class="border border-bottom-0 border-right-0 border-left-0">
    <td>@Instance.UniqueName</td>
    <td>@Instance.Id</td>
    <td>
        <a href="@Instance.Url" target="_blank">@Instance.Url</a>
    </td>
    <td>@Instance.Version</td>

    <td>
        <span class="btn">
            @if (FirewatchInstance.DoesContextUserHaveAccess)
            {
                <span class="oi oi-lock-unlocked text-info" data-toggle="tooltip" data-placement="top" title="You have access"></span>
            }
            else
            {
                <span class="oi oi-lock-locked text-warning" data-toggle="tooltip" data-placement="top" title="You do not have access"></span>
            }
        </span>
    </td>

    <td>
        <span class="btn">
            @if (FirewatchInstance.RequiresAttention)
            {
                <span class="oi oi-fire text-danger"></span>
            }
            else
            {
                <span class="oi oi-fire text-secondary"></span>
            }
        </span>
    </td>

    <td>
        <span>
            <a class="btn" role="button">
                <span class="oi oi-info text-info" data-toggle="tooltip" data-placement="top" title="Details"></span>
            </a>
        </span>

        <span>
            <button class="btn" type="button" @onclick="OnExtendCollapseButtonClicked">
                <span class="oi @(Collapsed ? "oi-expand-down" : "oi-collapse-up") text-secondary" data-toggle="tooltip" data-placement="top" title="Expand"></span>
            </button>
        </span>
    </td>
</tr>

<tr>
    <td colspan="7">
        <div class="@(Collapsed ? "collapse" : "")" id="@Instance.Id">
            <div class="card card-body">
                Bla bla bla
            </div>
        </div>
    </td>
</tr>