@inherits InstanceTableRowBase

<tr class="border border-bottom-0 border-right-0 border-left-0">
    <td>@Instance.UniqueName</td>
    <td>@Instance.Id</td>
    <td>
        <a href="@Instance.Url" target="_blank">@Instance.Url</a>
    </td>
    <td>@Instance.Version</td>

    <td>
        <span class="btn">
            @if (FirewatchInstance.DoesContextUserHaveAccess)
            {
                <span class="oi oi-lock-unlocked text-info" data-toggle="tooltip" data-placement="top" title="You have access"></span>
            }
            else
            {
                <span class="oi oi-lock-locked text-warning" data-toggle="tooltip" data-placement="top" title="You do not have access"></span>
            }
        </span>
    </td>

    <td>
        <span class="btn">
            @if (FirewatchInstance.AreResourcesMissing)
            {
                <span class="oi oi-fire text-danger"></span>
            }
            else
            {
                <span class="oi oi-fire text-secondary"></span>
            }
        </span>
    </td>

    <td style="white-space:nowrap;">
        <span >
            <button class="oi oi-info text-info btn btn-light btn-outline-light" type="button" @onclick="@(async ()=> await OnInstanceDetailsButtonClicked.InvokeAsync(FirewatchInstance.Instance.Id))" data-toggle="tooltip" data-placement="top" title="Details">
            </button>
        </span>

        @if (FirewatchInstance.AreResourcesMissing)
        {
            <span>
                <button class="oi @(Collapsed ? "oi-expand-down" : "oi-collapse-up") text-secondary btn btn-light btn-outline-light" type="button" @onclick="OnExpandCollapseButtonClicked" data-toggle="tooltip" data-placement="top" title="@(Collapsed ? "Expand" : "Collapse")">
                </button>
            </span>
        }
    </td>
</tr>

@if (FirewatchInstance.AreResourcesMissing)
{
    <tr class="@(Collapsed ? "collapse" : "")" id="@Instance.Id">
        <td colspan="7">
            <table class="table-bordered table-sm w-50">
                <thead>
                <tr>
                    <th colspan="2" class="border-bottom">Missing configuration</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var missingResource in FirewatchInstance.GetMissingResources())
                {
                    <tr>
                        <th>@missingResource.ResourceDescription.ResourceType.DisplayName</th>
                        <td>@missingResource.ResourceDescription.ResourceId</td>
                    </tr>
                }
                </tbody>
            </table>
        </td>
    </tr>
}